@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Space+Grotesk:wght@500;600;700&display=swap');

:root {
    --background: #000000;
    --buttons: #F4F4F6;
    --blobs-1: #002F55;
    --blobs-2: #273139;
    --offsetBackgrounds: #F2F506;
    --font: #F4F4F6;
    --button-font-color: #14181D;
    --blur-background-color: rgba(102, 102, 110, 0.15);;
    --inputs-bg: #262626;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--font);
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
  }
  
  html {
    font-size: 62.5%;
    background-color: var(--background);
    color: var(--soft-white);
  }

  .container {
    max-width: 1280px;
    margin: auto;
  }
  
  section {
    margin: 200px 0;
  }

  .nav-bar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
  }

  .nav-bar img {
    width: 96px;
    height: 96px;
  }

  .nav-bar ul li {
    padding: 33px;
  }

  .nav-bar ul li a {
    margin: 2.3rem;
  }

  .nav-bar ul li a:hover {
    border-bottom: 1px solid #FFF ;
  }
  
  .main-button {
    padding: 1.2rem 3.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--buttons);
    color: var(--button-font-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .secondary-button {
    width: 100%;
    padding: 0.8rem 3.2rem;
    font-weight: 700;
    font-size: 1.6rem;
    border: 2px solid var(--buttons);
    background: none;
    border-radius: 8px;
    cursor: pointer;
    -webkit-border-radius: 8px ;
    -moz-border-radius: 8px ;
    -ms-border-radius: 8px ;
    -o-border-radius: 8px ;
}

  .main-button:hover {
    background-color: var(--background);
    box-shadow: inset 0 0 0 2px #fff;
    color: var(--font);
  }

  .secondary-button:hover {
    background-color: var(--buttons);
    color: var(--button-font-color)
  }

  h1 {
    z-index: 1;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 4rem;
  }

  h2 {
    font-family: 'Space Grotesk' sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--font);
  }

  h3 {
    font-family: 'Space Grotesk' sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
  }

  h1 span {
    color: var(--button-font-color);
  }

  .yellow-block::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 67px;
    z-index: -1;
    background-color: var(--offsetBackgrounds);
  }

  .hero {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .left-side::before {
    content: "Criptoheads";
    position: absolute;
    transform: translateY(-100px);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12.8rem;
    opacity: 6%;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

  .left-side {
    width: 100%;
    max-width: 510px;
    font-size: 1.6rem;
    align-self: center;
    flex-shrink: 5;
  }


  .left-side .content p {
    margin: 2.4rem 0;
    line-height: 24px;
  }

  .arrow {
    width: 16px;
    height: 16px;
    border-left: 2px solid var(--button-font-color);
    border-top: 2px solid var(--button-font-color);
    rotate: 45deg;
    transform: translate(3px, 3px);
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -o-transform: translate(3px, 3px);
}

  .sticky {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 56px;
    margin-bottom: 100px;
    background-color: var(--font);
    border-radius: 100%;
    padding: 16px;
    z-index: 999;
    transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -ms-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

  .sticky:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--font);
    padding: 20px;
  }

  .sticky:hover .arrow {
    border-left: 2px solid var(--buttons);
    border-top: 2px solid var(--buttons);
  }

  .sticky img {
    width: 32px;
    height: 32px;
  }
  
/* ----------------------------------------------*/

  .mouse_scroll {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
  }

  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid var(--offsetBackgrounds);
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

  /* ----------------------------------------------*/

  .blob {
    position: absolute;
    transform: translate(-300px, -400px);
    width: 500px;
    height: 500px;
    z-index: -1;
    background-color: var(--blobs-1);
    border-radius: 100%;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    -webkit-transform: translate(-300px, -400px);
    -moz-transform: translate(-300px, -400px);
    -ms-transform: translate(-300px, -400px);
    -o-transform: translate(-300px, -400px);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

  .blob-right {
    position: absolute;
    right: 0;
    width: 500px;
    height: 500px;
    z-index: -1;
    background-color: var(--blobs-1);
    border-radius: 100%;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

  .right-side {
    padding-top: 75px;
    padding-left: 75px;
  }

  .hero-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 400px;
    padding: 3.2rem 3.2rem;
    background: var(--blur-background-color);
    border-radius: 16px;
    box-shadow: -30px -30px 0 -4px rgba(75, 75, 84, 0.15), -60px -60px 0 -4px rgba(75, 75, 84, 0.15);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
  }

  .hero-img img {
    width: 100%;
  }

  .hero-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-card-content p {
    min-width: 70px;
    font-size: 1.6rem;
    flex-wrap: wrap;
  }

  .hero-card-icons img:not(:last-child) {
    margin: 0 0.8rem;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .services h2 {
    color: var(--button-font-color);
  }

  .services .header h2::before{
    content: "";
    width: 220px;
    height: 57px;
    position: absolute;
    z-index: -1;
    background-color: var(--offsetBackgrounds);
  }

  .services-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    column-gap: 32px;
  }

  .service-card-content {
    font-size: 1.4rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 350px;
    padding: 3.2rem 3.2rem;
    background: var(--blur-background-color);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 16px;
  }

 .card h3 {
    text-align: center;
 }


 .flex {
    display: flex;
    align-items: top;
    justify-content: space-between;
    column-gap: 8px;
 }

 .flex .center{
    display: flex;
    align-items: center;
 }

 .flex h4 {
    margin-bottom: 8px;
 }

 .right {
    align-items: center;
    justify-content: right;
    margin-bottom: 0;
 }

 .center .small {
    width: 16px;
    height:16px;
 }


 .disclaimer {
    max-width: 300px;
    font-weight: 100;
 }

 .behind {
    transform: translateY(-40px);
    scale: -0.9;
 }

 .behind2 {
    transform: translateY(-90px);
    scale: -0.8;
 }

 .card-container:nth-child(2) {
    margin-top: 100px;
 }

 .experience .header h2 {
    font-weight: 500;
    margin-bottom: 60px;
 }

 .experience .header h2::before{
    content: "";
    width: 190px;
    height: 57px;
    position: absolute;
    z-index: -1;
    background-color: var(--offsetBackgrounds);
  }

  .experience .header span {
    color: var(--button-font-color);
    font-weight: 700;
  }

  .experience {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .experience-card {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    column-gap: 24px;
    padding: 4.0rem;
    background: var(--blur-background-color);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 16px;
  }



  .experience-card-content {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    max-width: 350px;
    justify-content: space-between;
  }

  .experience-card-content p {
    line-height: 1.5;
  }

  .experience div:nth-child(3) {
    flex-direction: row-reverse;
    align-self: flex-end;
  }

  .about-me h2 {
    color: var(--button-font-color);
  }

  .about-me .header h2::before{
    content: "";
    width: 330px;
    height: 57px;
    position: absolute;
    z-index: -1;
    background-color: var(--offsetBackgrounds);
  }

  .reviews-cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    column-gap: 32px;
  }


  .reviews-card {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    row-gap: 16px;
    align-items: center;
    min-width: 310px;
    max-width: 360px;
    padding: 4.0rem;
    background: var(--blur-background-color);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 16px;
  }

  .reviews-card img {
    border-radius: 100%;
    max-width: 125px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

  .reviews-card p, .reviews-card-user {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
  }

  .reviews-card-user h4 {
    margin-bottom: 8px;
  }

  .reviews-card-user h5 {
    font-weight: 100;
    font-size: 1rem;
  }

  .contact .header span {
    color: var(--button-font-color);
  }

  .contact .header h2::before{
    content: "";
    width: 175px;
    height: 57px;
    position: absolute;
    z-index: -1;
    background-color: var(--offsetBackgrounds);
  }


  .inputs-container span {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 4;
  }

  .inputs {
    display: flex;
    margin-top: 4px;
    padding-left: 8px;
    flex-direction: column;
    width: 100%;
    height: 36px;
    background-color: var(--inputs-bg);
    border-radius: 4px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

  input:focus {
    outline: none;
    box-shadow: none;
    border: var(--offsetBackgrounds) solid 2px;
  }

  input:hover {
    outline: none;
    box-shadow: none;
    border: var(--offsetBackgrounds) solid 2px;
  }

  .form-container {
    max-width: 800px;
    margin: auto;
  }

  .inputs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    margin: 100px auto 0;
    justify-content: space-between;
    column-gap: 24px;
  }

  textarea {
    width: 100%;
    height: 100%;
    padding: 8px 8px 0;
    margin-top: 4px;
    background-color: var(--inputs-bg);
    border-radius: 4px;
    resize: none;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

  textarea:focus {
    outline: none;
    box-shadow: none;
    border: var(--offsetBackgrounds) solid 2px;
  }

  textarea:hover {
    outline: none;
    box-shadow: none;
    border: var(--offsetBackgrounds) solid 2px;
  }

  .email-input {
    margin-bottom: 16px;
  }

  .contact-button {
    display: flex;
    width: 50%;
    margin: 36px auto;
    justify-content: center;
  }

  footer {
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center
  }

  footer span {
    font-size: 1.6rem;
  }

  .signature p {
    font-weight: 100;
    display: flex;
    justify-content: center;
    column-gap: 4px;
  }

  .signature p a {
    text-decoration: underline;
  }
  

  @media screen and (max-width: 400px) {
    .left-side::before {
      font-size: 5rem !important;
    }
  }

  @media screen and (max-width: 480px) {
    .hero-card-content {
      flex-direction: column;
      row-gap: 24px;
      align-items:flex-start;
    }
  }

  @media screen and (max-width: 500px) {
    .reviews-cards-container {
      column-gap: 16px;
    }

    .about-me .header h2::after {
      width: 280px;
    }
  }

  @media screen and (max-width: 700px) {
    .experience {
      align-items: center;
    }
    .experience-card {
      flex-direction: column !important;
      row-gap: 32px;
      max-width: 350px;
    }

    .experience div:nth-child(3) {
      align-self: center;
    }

    .experience-card-content {
      row-gap: 48px;
    }

    footer {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  @media screen and (max-width: 742px) {
    .grid-col-span{
      grid-column: span 1 !important;
    }

    .contact-button {
      width: 100%;
    }

    .comments-input {
      margin-top: 16px;
    }

    .sticky {
      display: none;
    }
  }

  @media screen and (max-width: 970px) {
    .nav-bar ul, .nav-bar button {
      display: none;
    }

    .nav-bar {
      justify-content: center;
    }

    .left-side::before {
      content: "Criptoheads";
      position: absolute;
      transform: translateY(-60px);
      left: 20px;
      font-family: 'Space Grotesk', sans-serif;
      font-size: 6.4rem;
      opacity: 6%;
      -webkit-transform: translateY(-60px);
      -moz-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
      -o-transform: translateY(-60px);
}

    .right-side {
      display: flex;
      justify-content: center;
    }

    .hero-card-icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .hero-card-icons img{
      width: 48px;
    }

    h1 {
      font-size: 2.4rem;
    }

    .yellow-block::before{
      font-weight: 100;
      content: "";
      width: 150px;
      height: 40px;
      position: absolute;
      z-index: -1;
      background-color: var(--offsetBackgrounds);
    }

    .hero {
      margin-top: 100px;
      flex-direction: column;
    }

    .hero .left-side {
      text-align: center;
    }
    
    .mouse_scroll {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    

    .hero-card-content {
      flex-direction: column;
      row-gap: 24px;
      align-items:flex-start;
    }

    footer .hero-card-icons {
      column-gap: 24px;
    }

    .reviews-cards-container {
      overflow-x: scroll;
      overscroll-behavior: contain;
      scroll-snap-type: x proximity;
    }
  
  }

  @media screen and (max-width: 1140px) {
    .grid-col-span {
      grid-column: span 2;
    }
    .card-container:nth-child(2) {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 1281px) {
    .container {
      max-width: 90%;
    }
  }